{% extends "./layouts/app.twig" %}

{% block body %}

	<section id="categories" class="flex">
		{% for categorie in categories %}
			<div class="w-52 bg-secondary">
				<img src="../../public/img/categories/{{categorie.image}}" alt="">
				<p class="text-center">{{categorie.name}}</p>
			</div>
		{% endfor %}
	</section>


	<h1>Favoriet van elk dier</h1>
	<section id"favorite_animals" class="flex">
		{% for item in items %}
			<div class="rounded-t-lg bg-light w-56 h-48">
<img class="ml-5 mt-5" src="../../public/img/items/{{item.image}}" alt="">

				<div class="bg-secondary rounded-b-lg h-9">
					<p>{{item.name}}
						€{{item.price}}</p>
				</div>
			</div>
		{% endfor %}
	</section>

	<section class="questions mt-14">
		<h1 class="text-base font-semibold leading-7 text-gray-900">Vragen over onze producten?</h1>
		<p class="mt-1 text-sm leading-6 text-gray-600">Heeft u vragen over allergieën of andere dingen van onze producten?
					contacteer ons gerust</p>
		<form>
			<div class="space-y-12">

				<div class="border-b border-gray-900/10 pb-12">

					<div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
						<div class="sm:col-span-3">
							<label for="first-name" class="block text-sm font-medium leading-6 text-gray-900">
								Voornaam</label>
							<div class="mt-2">
								<input type="text" name="first-name" id="first-name" autocomplete="given-name" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
							</div>
						</div>

						<div class="sm:col-span-3">
							<label for="last-name" class="block text-sm font-medium leading-6 text-gray-900">Achternaam</label>
							<div class="mt-2">
								<input type="text" name="last-name" id="last-name" autocomplete="family-name" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
							</div>
						</div>

						<div class="sm:col-span-4">
							<label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email
															address</label>
							<div class="mt-2">
								<input id="email" name="email" type="email" autocomplete="email" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
							</div>
						</div>

						<div class="col-span-full">
							<label for="street-address" class="block text-sm font-medium leading-6 text-gray-900">Telefoon
															nummer</label>
							<div class="mt-2">
								<input type="text" name="street-address" id="street-address" autocomplete="street-address" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
							</div>
						</div>

						<div class="col-span-full">
							<label for="about" class="block text-sm font-medium leading-6 text-gray-900">About</label>
							<div class="mt-2">
								<textarea id="about" name="about" rows="3" class="block w-full rounded-md border-0 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:py-1.5 sm:text-sm sm:leading-6"></textarea>
							</div>
						</div>


					</div>
				</div>

			</div>

		</form>


	</section>

	<section class="brand mt-14">
		<h1>Door ons verkochte merken</h1>
	</section>

	<footer class="mt-14"></footer>
{% endblock %}
